@font-face {
    font-family: A;
    src: url(/public/AlegreyaSansSC-Italic.ttf);
}

.about{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding:80px 6%;
    gap: 20px;
    color: #fff;
    font-family: A;
    z-index: 99;
}
.about_img{
    width: 400px;
    height: 500px;
    position: relative;
}
.about_img img{
    width: 100%;
    height: 90%;
    position: relative;
    border: 2px solid purple;
}
.about_img:after{
    content: '';
    position: absolute;
    width: 100%;
    height: 90%;
    top: 20px;
    left: 20px;
    border: 2px solid purple;
    z-index: 1;
}
.about_info{
    width: 50%;
}
.about_info h3{
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 400;
}
.about_info h3 span{
    font-weight: 500;
    border-bottom: 2px solid rgb(255, 0, 255);
}
.about_info h3{
    font-size: 40px;
    font-weight: 400;
    color:from-purple-500 to-cyan-500;
}
.about_info button{
    margin: 25px 0;
}
p{
    font-size: 1.4rem;
}
h5{
    font-size: 1.4vw;
    color: rgb(160, 160, 160);
}
.about_info h5 span{
    color: rgb(255, 255, 255);
    font-style: italic;
}

@media (max-width:950px) {
    .about{
        flex-direction: column;
        align-items: center;
    }
    .about_info{
        width: 100%;
    }
}

@media (max-width:550px) {
    .about_img{
        width: 80%;
        height: 80%;
    }
    .about_info{
        text-align: center;
    }
    .about_info p{
        font-size: .9rem;
    }
    h5{
        font-size: .8rem;
    }
    .about_info h3{
        font-size: 20px;
    }
    .about_info h5 span{
        font-size: .8rem;
        padding: 0;
    }
}